@font-face {
    font-family: "OpenSans regular";

    src: url(../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.eot) format("embedded-opentype");
    src: url(../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.ttf) format("truetype"), url(../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.woff) format("woff"), url(../fonts/opensans_regular_macroman/OpenSans-Regular-webfont.svg) format("svg");
}

@font-face {
    font-family: "OpenSans semibold";

    src: url(../fonts/opensans_semibold_macroman/OpenSans-semibold-webfont.eot) format("embedded-opentype");
    src: url(../fonts/opensans_semibold_macroman/OpenSans-semibold-webfont.ttf) format("truetype"), url(../fonts/opensans_semibold_macroman/OpenSans-semibold-webfont.woff) format("woff"), url(../fonts/opensans_semibold_macroman/OpenSans-semibold-webfont.svg) format("svg");
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 1400px;
    height: 900px;
    background: url(../img/background.png);
    background-size: 1400px 900px;
    background-repeat: no-repeat;
}

.formbox {
    display: inline-block;
    width: 500px;
    height: 500px;
    margin: 100px 400px;
    padding-top: 5px;

    color: #fff;
    background-image: url(../img/background-2.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;

    font-family: "OpenSans regular";
    font-size: 12px;
}

h1 {
    margin: 65px 0 10px 65px;

    font-family: "OpenSans semibold";
    font-size: 40px;
    font-weight: bold;
}

.cap {
    text-transform: capitalize;
}

.content {
    width: 70%;
    margin: 5px 0 10px 65px;
}

::-webkit-input-placeholder {
    color: #EBEBEB;

    font-size: 14px;
}

.email {
    margin: 30px 0 5px 80px;
    padding-left: 20px;
}

.email_input:hover{
    background: orange;
}

.pass_input:hover{
    background: violet;
}

input:not([type="checkbox"]) {
    width: 200px;
    height: 35px;

    outline: none;
}

.email_input {
    margin-left: 10px;
    padding-left: 10px;

    color: #EBEBEB;
    border: 1px solid #956889;
    background-color: #459856;

    font-size: 14px;
}

.pass {
    margin: -10px 0 0 80px;
}

.pass_input {
    margin-left: 3px;
    padding-left: 10px;

    color: #EBEBEB;
    border: 1px solid #458975;
    background-color: #789652;

    font-size: 14px;
}

.check {
    margin: -5px 0 0 150px;
}

.remme {
    padding-left: 5px;

    font-size: 11px;
    line-height: 15px;
}

.check a {
    padding-left: 10px;

    color: #fff;

    font-size: 11px;
}

input[type=checkbox] {
    vertical-align: bottom;
}

.submit {
    width: 100px;
    height: 40px;
    margin-top: -5px;
    margin-left: 150px;

    color: #fff;
    border: none;
    border-radius: 10px;
    background: #998658;

    font-family: "OpenSans semibold";
    font-size: 15px;

    cursor: pointer;

    box-shadow: 0px 0px #0D2C52;
}

.submit:hover {
    background: rgba(26, 168, 226, 0.9);
    box-shadow:
        0px 0px 55px #598624,
        inset 0px 0px 42px #786512;
    transform: scale(1.1);
}
